[submodule "importer/babylon-vrm-loader"]
	path = src/importer/babylon-vrm-loader
	# url = https://github.com/phantom-software-AZ/babylon-vrm-loader.git
	# url = https://github.com/virtual-cast/babylon-vrm-loader.git
	url = https://github.com/realbits-lab/babylon-vrm-loader.git
	# branch = alpha
	branch = patch
[submodule "lib/Babylon.js"]
	path = lib/Babylon.js
	url = https://github.com/BabylonJS/Babylon.js.git
[submodule "shader"]
	path = shader
	url = https://github.com/realbits-lab/babylon-mtoon-material.git
[submodule "src/shader/babylon-mtoon-material"]
	path = src/shader/babylon-mtoon-material
	url = https://github.com/realbits-lab/babylon-mtoon-material.git
