[submodule "importer/babylon-vrm-loader"]
	path = src/importer/babylon-vrm-loader
	# url = https://github.com/phantom-software-AZ/babylon-vrm-loader.git
	# url = https://github.com/virtual-cast/babylon-vrm-loader.git
	url = https://github.com/realbits-lab/babylon-vrm-loader.git
	# branch = alpha
	branch = patch
